.community {
  min-height: fit-content;
  height: 100vh;

  &__header {
    padding: 3rem 0 1.75rem;
    max-width: 64.25rem;
    margin: 0 auto;
  }

  &__live {
    padding: var(--padding-general);
  }
  &__live-content {
    height: 100%;
    max-width: 64.25rem;
    margin: 0 auto;
  }
  &__live-title {
    font-size: 1.563rem;
    font-weight: bold;
  }
  &__live-slider-wrapper {
    margin-top: 1.5rem;
  }
  &__live-slider {
    overflow: hidden;
    padding-bottom: 2rem;
    user-select: none;
    scroll-behavior: smooth;
  }

  &__all-posts {
  }
  &__post-header {
  }
  &__post-header-content {
    max-width: 64.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  &__post-header-group {
    display: flex;
    width: 100%;
    flex: 7;
    justify-content: space-between;
  }
  &__post-title {
    font-size: 1.875rem;
    font-weight: bold;
  }
  &__post-filter {
    display: flex;
    gap: 1.5rem;
  }
  &__post-search {
    float: 3;
    min-width: 14.5rem;
    width: 16rem;
  }

  &__post-content {
    height: 100%;
  }

  &__post-slider {
     overflow: hidden;
    padding-bottom: 2rem;
    user-select: none;
    scroll-behavior: smooth;
  }

  .mobile {
    display: none;
  }

  //==============================Responsive==========================
  @media (max-width: 48rem) {
    height: fit-content;

    &__header {
      padding: 1.75rem 1.25rem 1rem;
    }

    &__live {
      padding: var(--padding-general-mobile);

      .community__live-title {
        display: none;
      }
    }

    .section-title {
      font-size: 1.563rem;
      line-height: 1.875rem;
    }

    .community__live-slider {
      display: flex;
      flex-direction: column;
    }

    .community__post-header-content {
      // display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      gap: 0.75rem;
      padding: var(--padding-general-mobile);
    }

    .community__post-search {
      width: 100%;
    }

    .desktop {
      display: none !important;
    }

    .mobile {
      display: block !important;
    }
  }
}
