.slider {
  .promotion__slider-container {
    // display: flex;
    overflow: hidden;
    padding-bottom: 2rem;
    user-select: none;
    scroll-behavior: smooth;
  }

  .slick-list {
    // margin: 0 -100px;

    .slick-slide > div {
      // margin: 0 100px;
      // width: fit-content !important;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    display: flex !important;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 20px;
    list-style: none;
    text-align: center;
    justify-content: center;

    .slick-active {
      .pagination__item {
        border-color: var(--primary-color);
        animation: fillAnimation 3s ease;
      }

      @keyframes fillAnimation {
        0% {
          border-color: transparent;
        }
        100% {
          border-color: var(--primary-color);
        }
      }
    }
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-track {
    padding: 2rem 0;
  }

  .promotion__pagination {
  }

  .active {
    transform: translateX(0%);
  }

  //==============================Responsive==========================
  @media (max-width: 48rem) {
    .slick-dots {
      display: none !important;
    }
  }
}
