.exclusive-card {
  width: 40.625rem;
  height: 23.25rem;
  position: relative;

  &__content {
    width: 100%;
  }

  &__img-box {
    width: 100%;

    img {
      max-width: 100%; /* Tối đa độ rộng là kích thước của phần tử chứa ảnh */
      max-height: 100%; /* Tối đa độ cao là kích thước của phần tử chứa ảnh */
      width: auto; /* Độ rộng tự động để duy trì tỷ lệ khung */
      height: auto; /* Độ cao tự động để duy trì tỷ lệ khung */
      object-fit: contain;
    }
  }

  .round-icon {
    position: absolute;
    top: 1.563rem;
    right: 2.25rem;

    &:hover {
      svg {
        g path {
          stroke: var(--primary-color);
        }
      }
    }
  }

  //==============================Responsive==========================
  @media (max-width: 48rem) {
    width: 18.75rem;
    height: 10.75rem;

    .round-icon {
      position: absolute;
      top: 0.75rem;
      right: 0.875rem;
    }
  }
}
