.search-box {
  &__content {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 0.625rem;
    color: var(--text-primary-color);
    font-size: 0.938rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.188rem;
    background-color: transparent;
    padding-right: 30px;
    background-image: url("../../../assets/svg/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center right 0.625rem;
    outline: none;

    &::placeholder {
      color: var(--text-primary-color);
      font-style: italic;
    }
  }
}
