.post-card__container {
  width: fit-content;
  padding: 1.25rem;

  .post-card {
    position: relative;
    width: 20.75rem;
    height: 24rem;
    transition: transform 0.3s ease, transform-origin 0.3s ease;
    cursor: pointer;
    color: var(--text-primary-color);

    &__img-box {
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
      overflow: hidden;
    }

    &__img {
      width: 100%;
      height: 100%;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
      }
    }

    &__overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
      );
      border-radius: 0.625rem;
    }

    &__content-container {
      display: block;
      transition: display 0.3s ease;
    }
    &__content {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.25rem 1.125rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      .post-card__top-content {
        display: flex;
        justify-content: space-between;
      }

      .post-card__share-button {
        // position: absolute;
        // right: 1.563rem;
        // top: 1.875rem;
      }

      .post-card__desc {
        font-size: 0.938rem;
        margin-top: 1.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Số dòng tối đa */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
      }
    }

    //==============================Responsive==========================
    @media (max-width: 48rem) {
      &__desc {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Số dòng tối đa */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.75rem !important;
      }
    }
  }
}
