.header-wrapper {
  // display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #a8d6fd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 100;

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 5rem;

    .header-logo {
      max-width: 11.25rem;
    }

    .hambuger_icon {
      max-width: 2.5rem;
    }
  }

  //==============================Responsive==========================
  @media (max-width: 768px) {
    height: 3.125rem;

    .header-container {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1.25rem;

      .header-logo {
        max-width: 6rem;
      }

      .hambuger_icon {
        max-width: 1.5rem !important;
      }
    }
  }
}
