.pagination {
  &__container {
    display: flex;
    gap: 0.75px;
  }

  &__item {
    width: 2.813rem;
    height: 2.813rem;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 1s ease-in-out;
  }
}
