.footer {
  width: 100%;

  background-color: var(--primary-color);
  // height: calc(100vh - 4.729rem);

  p,
  a {
    color: var(--text-color);
  }

  .footer__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer__social-wrapper {
      display: none;
    }

    .footer__top-container {
      height: 100%;
      padding: var(--padding-general);

      .footer__content {
        height: 100%;
        max-width: 64.25rem;
        margin: 0 auto;
        padding: 4rem 0;
        display: flex;
        justify-content: space-between;

        .footer__social {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }

        .footer__logo {
          margin-left: -1.75rem;
        }
        .footer__social-channel {
          .social-channel__title {
            font-size: 1.563rem;
            font-weight: bold;
            margin-bottom: 1.25rem;
          }
          .social-channel__list {
            display: flex;
            gap: 1rem;
          }
          .social-channel__item {
          }
        }

        .footer__lang {
          .dropdown-list {
            position: relative;
            .lang-icon {
              position: absolute;
              left: 0.625rem;
              top: 50%;
              transform: translateY(-50%);
            }
            &__content {
              width: 9.063rem;
              height: 3.25rem;
              background-color: #fff;
              padding: 0.625rem 0 0.625rem 2.5rem;
              color: var(--text-primary-color);
              font-size: 0.938rem;
              border: 1px solid var(--primary-color);
              border-radius: 0.188rem;
              outline: none;
            }

            &__item {
            }

            select option {
              padding: 0.25rem 0;
            }
          }
        }

        .footer__othersite {
          display: flex;
          flex-direction: column;
          gap: 2.875rem;

          .footer__visit {
          }

          .footer__legal {
          }

          .title-text {
            font-size: 1.563rem;
            font-weight: bold;
            margin-bottom: 2.875rem;
          }

          .link-list {
            .link-item {
              font-size: 1.25rem;
            }

            .link-item + .link-item {
              margin-top: 0.25rem;
            }
          }
        }
      }
    }

    .footer__bottom-container {
      border-top: 3px solid #fff;
      text-align: center;
      padding: var(--padding-general);

      .footer__copyright {
        max-width: 64.25rem;
        margin: 1.5rem auto;

        p {
          font-size: 0.938rem;
          font-weight: 300;
          color: var(--text-color);
        }
      }
    }
  }

  //==============================Responsive==========================
  @media (max-width: 48rem) {
    .footer__social-wrapper {
      display: block !important;
      background-color: #c4e4ff;
      padding: 0.875rem 1.25rem;

      .footer__social-channel {
        display: flex;
        flex-direction: column;
        align-items: center;

        .social-channel__title {
          font-weight: bold;
          font-size: 0.75rem;
          color: var(--text-primary-color);
        }

        .social-channel__list {
          margin-top: 0.375rem;
          display: flex;
          gap: 0.625rem;
        }
      }
    }

    .footer__top-container {
      padding: var(--padding-general-mobile) !important;
    }

    .footer__content {
      flex-direction: column !important;
      gap: 0.25rem;
      padding: 0 !important;
    }

    .footer__social {
      align-items: center;
    }

    .footer__logo {
      max-width: 17.125rem;
      margin-left: 0 !important;

      img {
        width: 100%;
      }
    }

    .footer__othersite {
      flex-direction: row !important;
      justify-content: space-between;

      .link-item {
        font-size: 0.75rem !important;
        font-weight: bold;
      }
    }

    .footer__bottom-container {
      padding: var(--padding-general-mobile) !important;
      border-top: none !important;

      .footer__copyright {
        margin: 2.75rem 0 3.75rem !important;
        p {
          font-size: 0.625rem !important;
        }
      }
    }

    .mobile {
      display: none;
    }
  }
}
