.text-input {
  width: 100%;

  &__content {
    width: 100%;
    padding: 0.5rem 0.625rem;
    color: var(--text-primary-color);
    font-size: 0.75rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.188rem;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: var(--text-primary-color);
    }
  }
}
