.promotion {
  min-height: fit-content;
  height: 100vh;
  background-color: var(--session-background);

  &__header {
    padding: 2rem 3rem;

    &-content {
      height: 100%;
      max-width: 64.25rem;
      margin: 0 auto;
    }
  }

  // &__slider-container {
  //   display: flex;
  //   overflow: hidden;
  //   padding: 2rem 0;
  // }

  // &__pagination {
  // }

  //==============================Responsive==========================
  @media (max-width: 48rem) {
    height: fit-content;

    &__header {
      padding: 1.75rem 1.25rem 1rem;

      &-content {
        height: 100%;
        max-width: 64.25rem;
        margin: 0 auto;

        .section-title {
          font-size: 1.563rem;
          line-height: 1.875rem;
        }

        .text-subtitle-l {
          margin-top: 1rem;
          font-size: 1.25rem;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* Số dòng tối đa */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
