@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Condensed&display=swap");



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2699fb;
  --secondary-color: #d5ecff;
  --text-primary-color: var(--primary-color);
  --text-color: #fff;
  --session-background: #d8edff;
  --card-background: #d5ecff;

  --padding-general: 0 3rem;
  --padding-general-mobile: 0 1.25rem;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-primary-color);
}

p,
button,
a,
input,
select,
option {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 2.813rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
  line-height: 3.438rem;
}

.title-h2 {
  font-size: 2.188rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color);
}

.text-subtitle-l {
  font-size: 1.563rem;
}

.text-subtitle-m {
  font-size: 1.25rem;
}

.text-h2 {
  font-size: 1.563rem;
  font-weight: bold;
}

.text-subtitle-s {
  font-size: 0.75rem;
  font-weight: 400;
}
